<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Monster Slayer</title>
        <link rel="stylesheet" href="{{url_for('static', filename='options.css') }}">
        <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
        <script src="{{url_for('static', filename='audio.js') }}"></script>

    </head>
    <body id="controls">
        
        <ul>
            <li>
                <div class="brand">
                <a href="{{url_for('index')}}">
                Title Screen
            </a></div></li>
              <section>
            To Move Left press <img src="../static/assets/controls/a.png"> or <img src="../static/assets/controls/keyboard_key_left.png">
        </section></li>
        <li><section>
            To Move Right press <img src="../static/assets/controls/d.png"> or <img src="../static/assets/controls/keyboard_key_right.png">
        </section></li>
        <li><section>
            To Move Up press <img src="../static/assets/controls/w.png"> or <img src="../static/assets/controls/keyboard_key_up.png">
        </section></li>
        <li><section>
            To Move Down Press <img src="../static/assets/controls/s.png"> or <img src="../static/assets/controls/keyboard_key_down.png">
        </section></li>
    </ul>
    </body>
</html>

