<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Monster Slayer</title>
        <link rel="stylesheet" href="{{url_for('static', filename='titleScreen.css') }}">
        <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
    </head>
    <body>
        <ul>
            <li>
                <div class="brand">
                <a href="{{url_for('index')}}">
                Title Screen
            </a></div></li>
            <li><a href="https://opengameart.org/users/cynicmusic">The Music creator</a></li>
            <li><a href="https://opengameart.org/content/antifareas-rpg-sprite-set-1-enlarged-w-transparent-background-fixed">The characters were made by Antifarea found here</a></li>
            <li><a href="https://www.deviantart.com/antifarea">Antifarea</a></li>
            <li><a href="https://opengameart.org/">Open Game Art</a></li>
            <li><a href="https://creativecommons.org/licenses/by/3.0/">The characters license</a></li>
            <li><a href="https://cypor.itch.io/12x12-rpg-tileset">The tileset used for the map</a></li>
            <li><a href="https://master-blazter.itch.io/ghostspritepack">The Ghost enemy</a></li>      
        </ul>
    </body>
</html>
